// Primary colors
$primary-1: #1c1632;
$primary-2: #dc6803;

// Secondary colors
$secondary: #f79009;

// Neutral colors
$neutral-1: #f6eeec;
$neutral-2: #FFF;
$neutral-3: #5F5C79;
$neutral-4: #282733;
