// Primary colors
$primary-1: #1c1632;
$primary-2: #dc6803;

// Secondary colors
$secondary: #f79009;

// Neutral colors
$neutral-1: #f6eeec;
$neutral-2: #FFF;

//Gradient
$gradient-1: linear-gradient(96.25deg, rgba(215, 84, 51, 0.35) 33.33%, rgba(255, 0, 0, 0.35) 71.7%), #D75433;